#sorteo{
    width: 300px;
    text-align: center;
}

h2{
    text-align: center;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 480px) {
    #sorteo{
        width: 200px;
    }
}

#seleccion{
    text-align: center;
}

span{
    align-items: center;
}
